<header>
    <div class="header">
        <div class="site_info">
            <div>
                <a href="{% url 'schemas' %}">FakeCSV</a>
            </div>
            <div>
                <a href="{% url 'schemas' %}">Schemas</a>
            </div>
        </div>

        <div class="user_info">
        {% if request.user.is_authenticated%}
            <div class="user">
                <h4 id="user_name">Hello, <span>{{user.username}}</span> | <a href="{% url 'logout' %}">Logout</a></h4>
            </div>
        {% endif %}
        </div>
    </div>
</header>